<!-- <px-context-browser
        browser-context='{{initialContexts}}'
        handlers="ngScope:handlers"
        opened-item-name="{{initialContextName}}"
        show-chevron="true">
	<px-deck-selector ng-bind-polymer decks="{{decks}}" selected-deck="{{selectedDeck}}" ></px-deck-selector>
</px-context-browser>

<px-dashboard view-service-base-url="{{viewServiceBaseUrl}}" selected-deck-id="{{selectedDeck.id}}" context="{{context}}"></px-dashboard> -->

 
 <!-- <div ng-show="allshow"> -->
  
 <px-card header-text="Locomotive Live Data Chart">
        
</px-card> 

 <px-card ng-init="getAllEntries()"  style="margin:0px 0px 0px 0px"> 
 	 
	 	 <div id="dataheader">
	 	 	<p style="color:#000000;font-size:24px;" > LOCOMOTIVE DATA FOR LOCOMOTIVE_1  </p>
	 	 </div>
	 	 <div id="data">{{allTorqueDeatils}}</div>
 	
        
</px-card> 

 
 
 
 
 
 
 <!-- </div> -->